{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/css.css' %}">
{% endblock %}

{% block 'titulo' %}Login{% endblock %}

{% block 'body' %}
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/imgs/logo_nutri.png' %}">
                    </h2>

                </div>

                
            </div>

            <div class="col-md-9">
                <div class="area_cadastrar">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <div class="alert {{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h2 class="titulo">Recuperar senha</h2>
                    <p class="sub-titulo">Trocar a senha</p>
                    <hr>
                    
                    <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
                        <span class="bold">E-mail</span>
                        <input class="form-control input-form" name="email" type="text" placeholder="Digite seu email...">
                        <br>
                        <input type="submit" class="btn btn-outline-info btn-lg" value="recuperar">

                    </form>
                    <br>
                    <a class="btn btn-outline-success btn-lg" href="{% url 'login' %}">Logar</a>

                </div>

            </div>

        </div>


    </div>




{% endblock %}