.card-lateral{

    background-color: #27DB8F;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 5px 5px gray;

}

.link-lateral:hover{
    text-decoration: none;
}

.titulo{

    color: #27DB8F;

}

.card-paciente{

    background-color: #EAEAEA;
    width: 80%;
    box-shadow: 3px 3px 3px gray;
    padding: 20px;
    color: black;

}

.link-hover:hover{
    text-decoration: none;
}

.foto-perfil{
    text-align: center;
}

.dados{
    font-weight: bold;
}

.descricao{

    margin-left: -12%;

}

@media (max-width: 1300px)
{

    .descricao{

        margin-left: 1px;
    
    }

}

body{
    color: white;

}

.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27DB8F;
    height: 100px;
    margin-right: auto;
    border: 1px solid transparent;

    box-shadow: 5px 5px 5px gray;

    border-image-slice: 1;
    margin-left: 1%;
    


}

.icone{
    color: #ffebfe;
    width: 40px;
 

}



.box {
    padding:20px;
    width: 46vw;
    background: rgb(238, 238, 238);
    box-shadow: 4px 4px 10px rgba(0,0,0,.3);
}

.width80{
    width: 61vw; 
 }