{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <br>

    <div class="box width80">     
        <form method="GET" action="{% url 'plano_alimentar_filter' %}">
        <div class="row">
            <div class="col-md-2">
              <span>Paciente</span>
                <select class="form-control" id="paciente" name="paciente">
                        {% for paciente in pacientes %}

                        <option value="{{paciente.id}}">{{paciente}}</option>
                        {% endfor %}
                        <option value="todos" selected>Todos</option>

                </select>
            </div>

            <div class="col-md-2">
                <span>Nome:</span>
                  <input type="text" placeholder="Nome..."  name="nome" class="form-control">
              </div>
            
            <div class="col-md-2">
                <span>E-mail</span>
                <input type="text" class="form-control" name="email" placeholder="email...">
            </div>

            <div class="col-md-2">
              <span>Idade</span>
              <input type="number" class="form-control" name="idade" placeholder="Idade...">
          </div>


            <div class="col-md-2">
                <input type="submit" class="btn btn-success" value="FILTRAR">
                <br>
            </div>

        </div>
    </form>
    </div>
    
    <br>
    <br>

    <div  class="row">
        {% for paciente in pacientes%}
            <div class="col-md-4">
                <a href="{% url 'plano_alimentar' paciente.id %}" class="link-hover">
                    <div class="card-paciente">
                        <div class="foto-perfil">
                           
                            {% if paciente.sexo == "M"%}
                                <img src="{% static 'plataforma/img/perfil2.png' %}">
                            {% else %}
                                <img src="{% static 'plataforma/img/perfil1.png' %}">
                            {% endif %}
                        </div>
                        <br>
                        <p class="dados">{{paciente.nome}}</p>
                        <p class="dados">{{paciente.idade}} Anos</p>
                        <p class="dados">{{paciente.email}}</p>
                        
                    </div>
                    <br>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock%}